<div class="footer">
    <div class="izquierda">
    <img src="./assets/img/logo.png" alt="logo zuana">
    <div class="footer__divider"></div>
    </div>
    <div class="texto">
        <div class="info">
            <p>Zuana Beach Resort</p>
            <p>Carrera 2 # 6-80 Santa Marta, Magdalena 470006</p>
            <p>323 599 6470</p>
            <p>info&#64;zuana.com.co</p>

        </div>
        <div class="links">
            <a href="https://www.zuanadreampass.com/terminos-y-condiciones" target="_blank">Trabaja con Nosotros</a>
            <a href="https://www.zuanadreampass.com/politica-de-privacidad" target="_blank">La Leyenda de Zuana</a>
            <a href="https://www.zuanadreampass.com/contacto" target="_blank">Blog</a>
            <a href="https://www.zuanadreampass.com/contacto" target="_blank">Socios</a>
            <a href="https://www.zuanadreampass.com/contacto" target="_blank">Zuana Prestige</a>
            <a href="https://www.zuanadreampass.com/contacto" target="_blank">Santa Marta</a>
            <a href="https://www.zuanadreampass.com/contacto" target="_blank">Agencia de turismo</a>
            <a href="https://www.zuanadreampass.com/contacto" target="_blank">Calendario de eventos</a>
            <a href="https://www.zuanadreampass.com/contacto" target="_blank">Premios</a>
            <a href="https://www.zuanadreampass.com/contacto" target="_blank">Contacto</a>
        </div>
    </div>
</div>