<div class="video-emotivo" id>
  <h1 class="titulo-principal">¡VACACIONES DE POR VIDA!</h1>
  <div class="descripcion-container">
    <p class="descripcion">
      Accede a experiencias exclusivas, beneficios únicos y la posibilidad de volver cada año a tu lugar favorito en el
      Caribe
    </p>
  </div>

  <div class="descubrir-mas">
    <a href="#seccion-video">DESCUBRIR MÁS</a>
    <img src="/assets/icons/double-down.svg" alt="Flecha abajo" />

  </div>

</div>

<div class="video-explicativo" id="seccion-video">
  <h1 class="titulo">Hay lugares que se quedan contigo para siempre</h1>
  <p class="explicacion">
    Zuana Dream Pass es tu acceso a una experiencia única en uno de los destinos más encantadores del Caribe. Más que
    vacaciones,
    es volver a un lugar que se siente como casa, rodeado de sol, mar y momentos que se convierten en tradición
  </p>

  <div class="pantalla-con-video">
    <img src="assets/img/Video-explicativo.png" alt="Aqui va el video explicativo">
  </div>

</div>

<div class="motivos" id="seccion-motivos">
  <h1>Motivos para pertenecer a esta familia</h1>
  <div class="tarjetas-horizontales" #tarjetasHorizontal>
    <div class="tarjeta-motivos">

      <img src="assets/img/motivos/motivo-1.png" alt="con amigos">
      <div class="texto">
        <h2>Viaja en combo para siempre</h2>
        <p>Comparte el plan, divide el costo y disfruta con amigos o familia. ¡Una forma flexible de tener tu Zuana
          Dream Pass entre todos!</p>
      </div>
    </div>

    <div class="tarjeta-motivos">
      <img src="assets/img/motivos/motivo-2.png" alt="frecuencia">
      <div class="texto">
        <h2>Visítanos cada año o cada dos años</h2>
        <p>Siéntete en la libertad de elegir la frecuencia con la que te gustaría compartir con nuestra familia Zuana
        </p>
      </div>
    </div>

    <div class="tarjeta-motivos">
      <img src="assets/img/motivos/motivo-3.png" alt="interval">
      <div class="texto">
        <h2>Conoce otros lugares del mundo</h2>
        <p>Intercambia tu semana en el Zuana con otros lugares del mundo por medio de nuestra alianza con Interval</p>
      </div>
    </div>

    <div class="tarjeta-motivos">
      <img src="assets/img/motivos/motivo-4.png" alt="acompañamiento">
      <div class="texto">
        <h2>Acompañamiento en tu inversión</h2>
        <p>Una vez adquieras tu membresía, despreocúpate por manejar tu Zuana Dream Pass. Nosotros facilitaremos el
          proceso</p>
      </div>

    </div>

    <div class="tarjeta-motivos">
      <img src="assets/img/motivos/motivo-5.png" alt="adicionales">
      <div class="texto">
        <h2>Disfruta de actividades adicionales</h2>
        <p>En cada uno de nuestros planes te ofrecemos oportunidades que te permiten vivir una experiencia personalizada
        </p>
      </div>
    </div>

    @if (showRightScrollButton) {
    <button class="desplazar-tarjetas" (click)="scrollToNextSection()">
      <img src="/assets/icons/tri-right.svg" alt="Flecha derecha" />
    </button>
    }

    @if (showLeftScrollButton) {
    <button class="devolver-tarjetas" (click)="scrollToPrevSection()">
      <img src="/assets/icons/tri-left.svg" alt="Flecha izquierda" />
    </button>
    }

  </div>

  <a class="conoce-planes" href="#planes"> Conoce nuestros planes</a>
</div>

<div class="seccion-tabla">
  <h1>Descubre las ventajas de ser miembro Zuana Dream Pass</h1>
  <div class="tabla-vs" id="tabla-comparacion">

    <div class="table-column" id="tabla-izquierda">
      <h3>Clientes frecuentes sin membresía</h3>
      <div class="razones-sin-membresia">
        <img src="assets/icons/icono-calendario.svg" alt="Icono sin membresía 1">
        <span>Disponibilidad limitada. Especialmente en fechas clave.</span>
      </div>
      <div class="razones-sin-membresia">
        <img src="assets/icons/pago-tarifas.svg" alt="Icono sin membresía 1">
        <span>Pagas tarifas variables según la demanda y temporada.</span>
      </div>
      <div class="razones-sin-membresia">
        <img src="assets/icons/beneficios.svg" alt="Icono sin membresía 1">
        <span>Acceso a beneficios estandar que brinda el hotel.</span>
      </div>
      <div class="razones-sin-membresia">
        <img src="assets/icons/disponibilidad.svg" alt="Icono sin membresía 1">
        <span>Debes ajustar fechas según disponibilidad del hotel.</span>
      </div>
      <div class="razones-sin-membresia">
        <img src="assets/icons/futuro.svg" alt="Icono sin membresía 1">
        <span>Solo pagas por cada estancia sin un beneficio a futuro.</span>
      </div>
    </div>

    <div class="table-column" id="tabla-derecha">
      <h3>Clientes frecuentes con membresía</h3>
      <div class="razones-con-membresia">
        <img src="assets/icons/icono-calendario-azul.svg" alt="Icono sin membresía 1">
        <span>Tienes garantizado tu espacio cada año o cada dos años ¡Como tú prefieras!</span>
      </div>
      <div class="razones-con-membresia">
        <img src="assets/icons/pago-tarifas-azul.svg" alt="Icono sin membresía 1">
        <span>Ahorro a largo plazo. Fijas un precio hoy y evitas aumentos en tarifas hoteleras futuras.</span>
      </div>
      <div class="razones-con-membresia">
        <img src="assets/icons/beneficios-azul.svg" alt="Icono sin membresía 1">
        <span>No tienes que preocuparte por disponibilidad en el hotel.</span>
      </div>
      <div class="razones-con-membresia">
        <img src="assets/icons/disponibilidad-azul.svg" alt="Icono sin membresía 1">
        <span>Posibilidad de acceder a los beneficios que mejor se adapten a tus gustos.</span>
      </div>
      <div class="razones-con-membresia">
        <img src="assets/icons/futuro-azul.svg" alt="Icono sin membresía 1">
        <span>Zuana Dream Pass puede aumentar su valor con los años y ser transferible a familiares.</span>
      </div>
    </div>
  </div>
  <a class="conoce-planes" href="#planes"> Conoce nuestros planes</a>
</div>

<div class="seccion-planes" id="planes">
  <h1>¡Selecciona tus vacaciones soñadas al estilo Zuana Dream Pass!</h1>
  <h4>Elige entre experiencias inolvidables, beneficios exclusivos y lujo frente al mar</h4>
  <app-planes class="planes"></app-planes>
</div>

<div class="tabla-comparacion">
  <h1>¿Cuál plan vas a elegir?</h1>
  <app-tabla class="tabla"></app-tabla>
  <a class="conoce-planes" href="#planes"> Conoce nuestros planes</a>
</div>

<div class="metodos">
  <h1>Nuestros métodos de pago</h1>
  <h4>¡Te presentamos los nuevos métodos de pago que diseñamos para ti!</h4>

  <div class="tarjetas-horizontales" #tarjetasHorizontal>
    <div class="tarjeta">

      <img src="assets/img/metodos/compra-ahora.png" alt="Compra ahora y paga despues">
      <div class="texto">
        <h2>Compra ahora y paga despues</h2>
        <p>Aparta hoy y empieza a pagar en 3, 6 o 9 meses.</p>
      </div>
    </div>

    <div class="tarjeta">
      <img src="assets/img/metodos/compartida.png" alt="Compra compartida">
      <div class="texto">
        <h2>Compra compartida</h2>
        <p>Compra tu Zuana Dream Pass con amigos, familia o tu parche desde 2 hasta 10 personas.
        </p>
      </div>
    </div>

    <div class="tarjeta">
      <img src="assets/img/metodos/sin-interes.png" alt="Cuotas sin interés">
      <div class="texto">
        <h2>Cuotas sin interés</h2>
        <p>Con Davivienda y Constructora Bolívar, tu tiempo compartido a cuotas sin costo adicional.</p>
      </div>
    </div>
  </div>

</div>

<div>
  <app-footer></app-footer>
</div>