<div class="table-container">
    <table>
        <thead>
            <tr>
                <th class="header-beneficios">Beneficios</th>
                <th class="header-plan">Brisa</th>
                <th class="header-plan">Coral</th>
                <th class="header-plan">Ola Dorada</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="feature-name">Descuentos con ZuAgencia</td>
                <td class="plan-value percentage">10%</td>
                <td class="plan-value percentage">15%</td>
                <td class="plan-value percentage">20%</td>
            </tr>
            <tr>
                <td class="feature-name">Descuentos en spa</td>
                <td class="plan-value percentage">10%</td>
                <td class="plan-value percentage">15%</td>
                <td class="plan-value percentage">20%</td>
            </tr>
            <tr>
                <td class="feature-name">Descuento en el restaurante del resort</td>
                <td class="plan-value percentage">5%</td>
                <td class="plan-value percentage">15%</td>
                <td class="plan-value percentage">15%</td>
            </tr>
            <tr>
                <td class="feature-name">Descuento en vuelos Avianca</td>
                <td class="plan-value"><img src="./assets/icons/minus.svg" alt="No incluido"></td>
                <td class="plan-value"><img src="./assets/icons/minus.svg" alt="No incluido"></td>
                <td class="plan-value"><img src="./assets/icons/check.svg" alt="Incluido"></td>
            </tr>
            <tr>
                <td class="feature-name">Noches gratis cada dos años</td>
                <td class="plan-value"><img src="./assets/icons/minus.svg" alt="No incluido"></td>
                <td class="plan-value"><img src="./assets/icons/check.svg" alt="Incluido"></td>
                <td class="plan-value"><img src="./assets/icons/check.svg" alt="Incluido"></td>
            </tr>
            <tr>
                <td class="feature-name">Yoga frente al mar</td>
                <td class="plan-value"><img src="./assets/icons/minus.svg" alt="No incluido"></td>
                <td class="plan-value"><img src="./assets/icons/check.svg" alt="Incluido"></td>
                <td class="plan-value"><img src="./assets/icons/minus.svg" alt="No incluido"></td>
            </tr>
            <tr>
                <td class="feature-name">Bono Zumarket</td>
                <td class="plan-value"><img src="./assets/icons/minus.svg" alt="No incluido"></td>
                <td class="plan-value"><img src="./assets/icons/check.svg" alt="Incluido"></td>
                <td class="plan-value"><img src="./assets/icons/minus.svg" alt="No incluido"></td>
            </tr>
            <tr>
                <td class="feature-name">Puntos de fidelidad</td>
                <td class="plan-value"><img src="./assets/icons/check.svg" alt="Incluido"></td>
                <td class="plan-value"><img src="./assets/icons/minus.svg" alt="No incluido"></td>
                <td class="plan-value"><img src="./assets/icons/minus.svg" alt="No incluido"></td>
            </tr>
            <tr>
                <td class="feature-name">Asistente personal</td>
                <td class="plan-value"><img src="./assets/icons/minus.svg" alt="No incluido"></td>
                <td class="plan-value"><img src="./assets/icons/minus.svg" alt="No incluido"></td>
                <td class="plan-value"><img src="./assets/icons/check.svg" alt="Incluido"></td>
            </tr>
            <tr>
                <td class="feature-name">Cena privada con decoración</td>
                <td class="plan-value"><img src="./assets/icons/minus.svg" alt="No incluido"></td>
                <td class="plan-value"><img src="./assets/icons/minus.svg" alt="No incluido"></td>
                <td class="plan-value"><img src="./assets/icons/check.svg" alt="Incluido"></td>
            </tr>
        </tbody>
    </table>
</div>
